In [1]:
#import pandas package
import pandas as pd

#import dataset
car_data = pd.read_excel('Rohit.xlsx', header=0, sep=',', engine='openpyxl')

#print first 5 rows
print(car_data.head())

    Driver                VIN       vir          Plant Location  \
0    milan  WDB1240902F206403  70084726  Barons Auctioneers Ltd
1   kieran  YS2S6X20009265677  10433720            NVD Rosslare
2      con  WV1ZZZSYZK9062717  70088980             Dublin Port
3      jan  WV1ZZZSYZL9018482  40552636         NVD Ringaskiddy
4  crosbie  WV1ZZZSYZL9021243  21227347             Dublin Port

            Start Location Code                Start Location  \
0                     BALDONNEL                 NVD Baldonnel
1                      ROSSLARE                  NVD Rosslare
2  051.870247000-008.4827050000  Blackwater Motors Volkswagen
3                   RINGASKIDDY               NVD Ringaskiddy
4                   DUBLIN_PORT                   Dublin Port

                      Target Location          Target Location Code  \
0  Maguire Warehouse Estate Units 2&3  052.652732000-008.5660720000
1                SM Components Antrim  054.678647999-005.9840419900
2                     Automotive Team  053.274118998-006.2158870000
3                       NVD Baldonnel                     BALDONNEL
4            Limerick Frank Hogan Ltd  052.664230000-008.6039500000

                       targetstreet targetzip  ... perunitusedistance  \
0                         Dock Road   V94X9W9  ...          22.234556
1  Newtownabbey, Unit G 9 Mitchelin   BT364PT  ...         204.736000
2                  86-87 Furze Road   D18W1W7  ...         262.170000
3                               NaN  D22 AV20  ...          83.736667
4                       Dublin Road  V94 X583  ...         211.351000

  perunitemptydistance  driverbonusmultiplier  bonusearned targetcountry  \
0                0.000                    3.0        18.81            IE
1                0.000                    3.0        18.81            NI
2               42.678                    3.0        18.81            IE
3                0.000                    3.0        18.81            IE
4              141.838                    3.0        18.81            IE

  startcountry      Make  Chassis  dlr_code  SLA Compliant
0           IE  HGV LOHR      NaN       NaN          (yes)
1           IE       TEA  9265677    TEA_SM            yes
2           IE        VW   303513       NaN            yes
3           IE        VW   305735   VWC_088            NaN
4           IE        VW   306145   VWC_460            yes

[5 rows x 61 columns]

In [2]:
#check info of data
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105410 entries, 0 to 105409
Data columns (total 61 columns):
Driver                   101943 non-null object
VIN                      105410 non-null object
vir                      105350 non-null object
Plant Location           105404 non-null object
Start Location Code      105410 non-null object
Start Location           105410 non-null object
Target Location          105410 non-null object
Target Location Code     105410 non-null object
targetstreet             89484 non-null object
targetzip                75073 non-null object
To city                  101060 non-null object
targetstate              101061 non-null object
targetgpseast            105410 non-null float64
targetgpsnorth           105410 non-null float64
Start Date               105337 non-null object
End Date                 105410 non-null object
distance                 105410 non-null float64
ghdistance               92630 non-null float64
Dist. from Previous      101942 non-null float64
tourapproach             62979 non-null float64
Franchise                105407 non-null object
Distributor              71410 non-null object
Tour                     101948 non-null float64
Model                    105365 non-null object
vehiclegroup             105363 non-null object
CEU                      105365 non-null float64
External Ref 1           1913 non-null object
External Ref 2           4751 non-null object
Final Organization       84942 non-null object
Final Location           103267 non-null object
finalsz                  103267 non-null object
startsz                  105410 non-null object
targetsz                 105410 non-null object
Target Delivery Time     103471 non-null object
Order Time               104353 non-null object
Trailer type             89852 non-null object
transportorderno         105410 non-null int64
Transport TDT            103838 non-null object
outboundport             0 non-null float64
inboundport              0 non-null float64
income                   74748 non-null float64
dropsequence             101948 non-null float64
Truck                    88342 non-null object
startedby                105215 non-null object
completedby              105410 non-null object
Team                     96159 non-null object
finallz                  103267 non-null object
Work Type                105410 non-null object
driverbonusrate          104905 non-null float64
driverbonuszone          104905 non-null object
driverbonusdistance      104903 non-null float64
perunitusedistance       101934 non-null float64
perunitemptydistance     101945 non-null float64
driverbonusmultiplier    104903 non-null float64
bonusearned              104903 non-null float64
targetcountry            105410 non-null object
startcountry             105410 non-null object
Make                     105364 non-null object
Chassis                  88012 non-null object
dlr_code                 84942 non-null object
SLA Compliant            90789 non-null object
dtypes: float64(18), int64(1), object(42)
memory usage: 49.1+ MB

In [3]:
#delete irrelevant columns
car_data.drop(car_data.columns[[1,2,3,4,7,8,9,10,11,12,13,16,17,18,19,20,21,23,24,26,27,28,30,31,32,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60]], axis=1, inplace=True)

In [4]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105410 entries, 0 to 105409
Data columns (total 10 columns):
Driver                  101943 non-null object
Start Location          105410 non-null object
Target Location         105410 non-null object
Start Date              105337 non-null object
End Date                105410 non-null object
Tour                    101948 non-null float64
CEU                     105365 non-null float64
Final Location          103267 non-null object
Target Delivery Time    103471 non-null object
Order Time              104353 non-null object
dtypes: float64(2), object(8)
memory usage: 8.0+ MB

In [5]:
#check for nan values
car_data.isna().sum()

Driver                  3467
Start Location             0
Target Location            0
Start Date                73
End Date                   0
Tour                    3462
CEU                       45
Final Location          2143
Target Delivery Time    1939
Order Time              1057
dtype: int64

In [6]:
#drop rows that contain nan values
car_data.dropna(axis=0, inplace=True)

In [7]:
#check updated dimension of data
car_data.shape

(98620, 10)

In [8]:
#create a new column that computes average CEU per tour
car_data['Avg_CEU_per_tour'] = car_data['CEU'].mean()/car_data['Tour']

#print first 5 rows of this new column
print(car_data['Avg_CEU_per_tour'].head())

0    0.000309
1    0.000308
2    0.000310
3    0.000307
4    0.000307
Name: Avg_CEU_per_tour, dtype: float64

In [9]:
#export cleaned and modified data to CSV file
car_data.to_csv(r'C:\Users\John Uzoma\Documents\DBS_MASTERS\miscellaneous\data_science\datasets\modified_Rohit.csv', index=False)